<!DOCTYPE html>

<html>

<head>

    <title>Puerto Rico Data</title>

    <!-- This is a comment -->

</head>

<body>
	
	<section id="radio_selection">
	
		<h2>Narrow down your results</h2>

		<form action="somescript.php" method="post">
			
			<h3>Select up to one option:</h3>

			<h4>Gender:</h4>
			<p><input type="radio" name="gender" value="male"> Male</p>
			<p><input type="radio" name="gender" value="female"> Female</p>
			<p><input type="radio" name="gender" value="hermaphrodite"> Transgender</p>

			<p><input type="submit"></p>

		</form>
	
	</section>
	
	<section id="results">
	
		<h3>Number of participants that meet your selected criteria:</h3>
	
	</section>

</body>

</html>