<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puerto Rico Data</title>
</head>
<body>

    <section id="radio_selection">

		<h2>Narrow down your results</h2>

		<form action="/hi" method="post">

			<h3>Select up to one option:</h3>

			<h4>Gender:</h4>
			<p><input type="radio" name="gender" value="male"> Male</p>
			<p><input type="radio" name="gender" value="female"> Female</p>
			<p><input type="radio" name="gender" value="transgender"> Transgender</p>

            <button type="submit">Submit</button>

		</form>

	</section>

	<section id="results">

		<h3>Number of participants that meet your selected criteria:</h3>

	</section>

</body>
</html>