<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Puerto Rico Data</title>

	<link rel="stylesheet" href="../static/css/test.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="http://localhost:63342/puerto_rico/PR_App/static/js/testing_js.js"></script>
</head>

<body>

    <section id="radio_selection">

		<h2>Narrow down your results</h2>

		<!--<form action="/show_results" method="post">
        <form>-->

			<h3>Select up to one option:</h3>

			<h4>Gender:</h4>
			<p><input type="radio" name="gender" value="M"> Male</p>
			<p><input type="radio" name="gender" value="F"> Female</p>
			<p><input type="radio" name="gender" value="TG"> Transgender</p>
			<p><input type="radio" name="gender" value="ALL" checked> All</p>

			<h4>Age:</h4>
			<p><input type="radio" name="age" value="0-18"> 0-18</p>
			<p><input type="radio" name="age" value="19-24"> 19-24</p>
			<p><input type="radio" name="age" value="25-40"> 25-40</p>
			<p><input type="radio" name="age" value="41-100"> 41-100</p>
			<p><input type="radio" name="age" value="ALL" checked> All</p>

			<h4>Minimum drug use:</h4>
			<p><input type="radio" name="mindrugs" value="1"> 1</p>
			<p><input type="radio" name="mindrugs" value="2-3"> 2-3</p>
			<p><input type="radio" name="mindrugs" value="4-7"> 4-7</p>
			<p><input type="radio" name="mindrugs" value="8"> 8</p>
			<p><input type="radio" name="mindrugs" value="ALL" checked> Any</p>

			<h4>Maximum drug use:</h4>
			<p><input type="radio" name="maxdrugs" value="1"> 1</p>
			<p><input type="radio" name="maxdrugs" value="2-3"> 2-3</p>
			<p><input type="radio" name="maxdrugs" value="4-7"> 4-7</p>
			<p><input type="radio" name="maxdrugs" value="8"> 8</p>
			<p><input type="radio" name="maxdrugs" value="ALL" checked> Any</p>

            <!--<button type="submit">Submit</button>

		</form>-->

<button id="filter_button" class="button trigger">Submit</button>

        <div id="div1"><h2>Change This Text</h2></div>
	</section>

    <!--
	<section id="results">

		<h3>Number of participants that are:</h3>

		{% for fltr in fltrs %}
            <p>{{ fltr }}</p>
         {% endfor %}

		<table border = 1>
        <tr>
            <td> {{ result }} </td>
        </tr>
    </table>

	</section>
-->

</body>
</html>