<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta charset="UTF-8">-->
    <title>Puerto Rico Project Home</title>

    <link rel="stylesheet" href="../static/css/index_v4.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="../static/js/index_v4.js"></script>
</head>

<body>

    <div id="results" hidden>

        <div id='res-box' class='res-box'>
          <h2>Results</h2>
            <h3></h3>
          <div id='res-fltrs' class='rb'></div>
        </div>

    </div>


    <div class="rb-box">

        <h2>Access data filtering options</h2>

        <div class="button-box">
            <button id="begin_button" class="button trigger">Begin</button>
        </div>

    </div>

</body>
</html>