<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extractor</title>

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/filters.css">
    <link rel="stylesheet" href="../static/css/results_download.css">
    <link rel="stylesheet" href="../static/css/extractor.css">

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/extractor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js"></script>
</head>
<body>

    <div class="flex-container">

        <div class="col-filters">
            <h2>Select columns</h2>
            <div class="horizontal-line"></div>


            <div id="phase_flex" class="phase-flex">

                <h2>Phase1</h2>

                <div id="p1_flex" class="cols-flex">

                    <div id="avail1_cols" class="cols-box">

                        <div class="cols-header">
                            <h3>Available Columns</h3>
                            <div class="cols-button">Add All</div>
                        </div>

                        <div id="cols1_box">
                            <div id="col1_panel">
                                <span>Column 1</span>
                            </div>
                        </div>

                    </div>

                    <div id="selected1_cols" class="cols-box">

                        <div class="cols-header">
                            <h3>Selected Columns</h3>
                            <div class="cols-button">Remove All</div>
                        </div>

                        <div id="cols2_box">
                            <div id="cols2_panel">
                                <span>Column 1</span>
                            </div>
                        </div>

                    </div>

                </div>

                <h2>Phase2</h2>

                <div id="p2_flex" class="cols-flex">

                    <div id="avail2_cols">
                        <p>Available Columns</p>
                    </div>

                    <div id="selected2_cols">
                        <p>Selected Columns</p>
                    </div>

                </div>

            </div>



        </div>

        <div class="vertical-line"></div>

        <div class="res-download">

            <div id="circle-div">
                <svg class="circle-box">
                    <g transform="translate(230, 230)">
                        <g id="circle">
                            <path id="meter" class="circle-meter" d="0"></path>
                            <path id="foreground" class="circle-foreground" d="0"></path>
                            <path id="front" class="circle-front" d="0"></path>
                            <text id="text" class="circle-text"></text>
                        </g>
                    </g>
                </svg>
            </div>

            <div id="download" class="download">
                <div class="button-box">
                <button id="generate_download_button" class="button trigger">Generate zip folder</button>
                </div>
                <a id="download_link" href="outputs/c5f99080-d55d-11e7-9cca-b88a60b821e3.zip" download hidden>Download here</a>
            </div>

        </div>

    </div>

</body>
</html>