

    <div class="flex-container">

        <div class="col-filters">
            <h2>Select columns</h2>
            <div class="horizontal-line"></div>


            <div id="phase_flex" class="phase-flex">

            </div>

        </div>

        <div class="vertical-line"></div>

        <div class="res-download">

            <div id="download" class="download">
                <div class="button-box">
                <button id="generate_download_button" class="button trigger" disabled>Generate zip folder</button>
                </div>
                <div class="button-box">
                <a id="download_link" class="download-button" href="" download hidden>Download here</a>
                </div>
            </div>

        </div>

    </div>
