<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta charset="UTF-8">-->
    <title>Puerto Rico Project Home</title>

    <link rel="stylesheet" href="../static/css/new_index.css">
    <link rel="stylesheet" href="../static/css/filters.css">
    <link rel="stylesheet" href="../static/css/results_download.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/index.js"></script>
</head>

<body>

    <div class="flex-container">

        <div class="filters">
            <h2>Select participants</h2>
        </div>

        <div class="res-download">

            <div id="results" class="results">
                <h2>Results</h2>
                <h3></h3>
                <div id='res-fltrs' class='rb'></div>
            </div>

            <div id="download" class="download">
                <div class="button-box">
                <button id="generate_download_button" class="button trigger">Generate zip folder</button>
                </div>
                <a id="download_link" href="outputs/c5f99080-d55d-11e7-9cca-b88a60b821e3.zip" download>Download here</a>
            </div>

        </div>

    </div>

</body>
</html>