<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta charset="UTF-8">-->
    <title>Puerto Rico Project Home</title>

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/filters.css">
    <link rel="stylesheet" href="../static/css/results_download.css">

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js"></script>

</head>

<body>

    <div class="flex-container">

        <div class="filters">
            <h2 class="filter-header">Select participants</h2>
            <div class="horizontal-line"></div>
        </div>

        <div class="vertical-line"></div>

        <div class="res-download">

            <div id="circle-div">
                <svg class="circle-box">
                    <g transform="translate(230, 230)">
                        <g id="circle">
                            <path id="meter" class="circle-meter" d="0"></path>
                            <path id="foreground" class="circle-foreground" d="0"></path>
                            <path id="front" class="circle-front" d="0"></path>
                            <text id="text" class="circle-text"></text>
                        </g>
                    </g>
                </svg>
            </div>

            <div id="download" class="download">
                <div class="button-box">
                <button id="generate_download_button" class="button trigger">Generate zip folder</button>
                </div>
                <a id="download_link" href="outputs/c5f99080-d55d-11e7-9cca-b88a60b821e3.zip" download hidden>Download here</a>
            </div>

        </div>

    </div>

</body>
</html>