/* Results and download */
.res-download {
    flex-grow: 1;
    min-width: 460px;
    max-width: 460px;
    margin-left: 2em;
    margin-bottom: 2em;
}

/* Circle results box */
.circle-box {
    width: 460px;
    height: 460px;
    margin-top: 75px;
}

.circle-meter {
    fill: rgba(30, 156, 215, .2);
}

.circle-foreground {
    stroke: rgb(30, 156, 215);
}

.circle-front {
    fill: rgb(30, 156, 215);
}

.circle-text {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80px;
    text-anchor: middle;
    fill: rgb(30, 156, 215);
    transform: translateY(6%);
}

/* Download */
.download {
}

.button-box {
  padding: 30px 0;
  text-align: center;
}

button {
  width: 80%;
  margin-top: 1.2em;
  padding: 1em;
  max-width: 220px;
  font-size: .9em;
  color: rgb(30, 156, 215);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;
  background: white;
  border: 2px solid rgb(30, 156, 215);
  border-radius: .75em;
  outline: none;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
  color: grey;
}

